.navigation-bar {
    position: fixed;
    width: 100%;
    z-index: 1001;
    height: 60px;
    top: 0;
}

.navigation-bar nav{
    height: 56px;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.navigation-bar nav a{
    color: var(--dark);
}

.navigation-bar nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    left: 25%;
    border-radius: 25px;
}

.navigation-bar nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--navbar);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.navigation-bar nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.button-nav {
    background-color: var(--button-nav);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-menu {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}

.dropdown-menu ul {
  list-style: none;
  padding: unset;
  margin: unset;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 5px;
  transition: all linear 0.3s;
}

.dropdown-menu li:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
  color: #333;
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
}