.side-menu li {
    border: 2px solid white;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
    background-color: #50a081;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.side-menu li:hover{
    transform: translateY(-2px);
}

.side-menu li:active{
    transform: scale(0.95);
    background-color: #44896f;
}