.registerlogin-container {
  position: relative;
  width: 100%;
  min-height: 91.8vh;
  overflow: hidden;
  margin-bottom: 70px;
}


.account-forms {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.register-login {
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}


.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
}


.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  z-index: 1;
}


.input {
    position: relative;
    background-color: #f0e9e9;
    box-shadow: 5px 5px 5px #ccc;
    width: 100%;
    height: 30px;
    max-width: 250px;
    display: grid;
    border-radius: 50px;
    margin: 5px 0;
    padding: 0 1rem;
}


.title {
    font-size: 1.75rem;
    color: var(--text);
    font-weight: bold;
    margin-bottom: 5px;
}


.input input {
    font-size: 0.8rem;
    line-height: 1.3;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
}


::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-calendar-picker-indicator {
  color: #aaa;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #aaa;
}

.input-field input::placeholder {
  color: #aaa;
}










.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.registerlogin-container:before {
  content: "";
  position: absolute;
  height: 1750px;
  width: 1750px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-90deg, var(--bg-navbar) 0%, #56c699 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  box-shadow: 1px 3px 3px #ccc;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 6rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 6rem 12% 2rem 17%;
}

.panel .panel-content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/* Styling for the buttons in the panel containers called signup and signin */

.account-btn.transparent {
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 1rem;
}

.account-btn.transparent:hover {
  color: #fff;
}

.right-panel .image,
.right-panel .panel-content {
  transform: translateX(800px);
}

/* Styling for sliding animation when clicking signup/signin buttons in the panel containers */

.registerlogin-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

/* move the left panel to the right side of the screen */

.registerlogin-container.sign-up-mode .left-panel .image,
.registerlogin-container.sign-up-mode .left-panel .panel-content {
  transform: translateX(-800px);
}

.registerlogin-container.sign-up-mode .register-login {
  left: 25%;
}

/* Sliding animation - when clicking on the sign up button, the signup form appears */

.registerlogin-container.sign-up-mode form.register {
  opacity: 1;
  z-index: 2;
}

/* and the signin form disappears */

.registerlogin-container.sign-up-mode form.login {
  opacity: 0;
  z-index: 1;
}

/* move the right panel to the left and place it on the right side of the screen */

.registerlogin-container.sign-up-mode .right-panel .image,
.registerlogin-container.sign-up-mode .right-panel .panel-content {
  transform: translateX(0%);
}

.registerlogin-container.sign-up-mode .left-panel {
  pointer-events: none;
}

.registerlogin-container.sign-up-mode .right-panel {
  pointer-events: all;
}


.reset_password {
  font-size: 15px;
  color: #333;
}

.reset_password:hover {
  color: #666;
  font-weight: 500;
}


.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  margin: 10% auto;
}




.registerlogin-btn {
  width: 200px;
  background-color: var(--bg-navbar);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.registerlogin-btn:hover {
  background-color: #2f624e;
  color: #fff;
  box-shadow: 1px 3px 3px #ccc;
}

.registerlogin-btn:disabled {
  background-color: #7692c1;
  cursor: auto;
}

.transparent {
  box-shadow: 1px 3px 3px #ccc;
}

@media only screen and (min-width: 1700px) {
    .input {
      margin: 10px 0;
      width: 100%;
      height: 40px;
      max-width: 450px;
    }

    .registerlogin-btn {
      width: 250px;
      height: 60px;
      font-size: 1rem;
      border-radius: 50px;
      margin: 10px 0;
}
}