.audios-container {
  width: 80%;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  margin: 30px auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.audios-container h1 {
  color: var(--bg-navbar);
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  display: inline-block;
  font-size: 2.5rem;
}

.audios-container h2 {
  background: linear-gradient(45deg, #50a081, #587bda);
  color: #ffffff;
  background-color: #50a081;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.audios-section-item {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.audios-section-item:hover {
  transform: translateY(-3px);
}

.audios-section-item h3 {
  color: #1a2877;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.listen-button input[type="button"],
.listen-button-controls {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #50a081, #587bda);
  transition: background 0.2s ease, transform 0.2s ease;
}

.listen-button input[type="button"]:hover,
.listen-button-controls:hover {
  background: linear-gradient(90deg, #587bda, #50a081);
}

.audios-section-item-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audios-section-item-progress input[type="range"] {
  margin-left: 10px;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  appearance: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #50a081 0%, #587bda 100%);
  transition: box-shadow 0.3s ease;
}

.audios-section-item-progress input[type="range"]:hover {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.audios-section-item-progress input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #50a081;
  background: white;
  cursor: pointer;
  appearance: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.audios-section-item-progress input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.25);
}

.audios-section-item-duration {
  color: black;
  font-size: 1rem;
  text-align: center;
  margin: 0 5px;
  width: 5%;
}

.isClose {
  width: 80px;
}

.play-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.play-button svg {
  width: 20px;
  position: absolute;
  margin-left: 26px;
  color: white;
}

.stop svg {
  font-size: 20px;
}