.tips-container {
    padding: 20px 20px 40px 20px;
    text-align: center;
    background: linear-gradient(-45deg, rgb(249, 118, 118, 0.4), rgb(252, 209, 127, 0.4), rgb(251, 251, 128, 0.4), rgb(123, 251, 123, 0.4), rgba(61, 81, 190, 0.4));
    background-size:  400% 400%;
    animation: background-gradient 15s ease infinite;
}

.inner-container {
    width: 80%;
    margin: 0 auto;
}

.tips-container h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--bg-navbar);
    font-size: 2.5rem;
}

.tips-container h3 {
    margin-bottom: 20px;
}

.tips-container p {
    margin-bottom: 20px;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.category-grid-item {
    position: relative;
    width: 390px;
    height: 290px;
    cursor: pointer;
    color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s filter 0.2s;
}

.category-grid-item:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.category-grid-item h2 {
    font-size: 2.75rem;
    font-weight: bold;
    z-index: 2;
}

@keyframes background-gradient {
    0% {
        background-color: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position:  0% 50%;
    }
}


.category-tips-container {
    height: 91.8vh;
    background: linear-gradient(90deg,rgba(255, 215, 0, 0.5),rgba(255, 165, 0, 0.5),rgba(255, 127, 80, 0.5),rgba(135, 206, 235, 0.5),rgba(152, 251, 152, 0.5),rgba(230, 230, 250, 0.5),rgba(255, 218, 185, 0.5));
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category-tips-container-heading {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.current-tip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-style: italic;
    min-height: 100px;
    margin-bottom: 20px;
}

.tips-container-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.tip-container-button {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    background-color: #5c85d6;
}

.favourite-tips-container {
    width: 100%;
    max-width: 600px;
    max-height: 350px;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    overflow-y: auto;
    background-color: white;
}

.favourite-tips-container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--bg-navbar) #f0f8ff; /* Thumb and track colours for Firefox */
}

/* For Chrome, Edge, and Safari */
.favourite-tips-container::-webkit-scrollbar {
  width: 8px;
}

.favourite-tips-container::-webkit-scrollbar-track {
  background: #f0f8ff;
  border-radius: 5px;
}

.favourite-tips-container::-webkit-scrollbar-thumb {
  background-color: var(--bg-navbar);
  border-radius: 5px;
  border: 2px solid #f0f8ff;
}

.favourite-tips-container-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.favourite-tips-list {
    padding: 0;
    list-style-type: none;
}

.favourite-tip-item {
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.remove-favourite-tip-button {
    color: white;
    margin-left: 20px;
    background-color: #d04242;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.remove-favourite-tip-button:hover {
    background-color: #b03939;
    box-shadow: 1px 3px 3px #ccc;
    transform: scale(1.02);
}