.badges-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  width: 80%;
}

.badges-container h1 {
  font-size: 36px;
  color: var(--bg-navbar);
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  width: 24.1rem;
}

.achievement-badge-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  justify-content: center;
  max-width: 1000px;
  margin: 40px auto;
  gap: 60px;
}

.badge-box {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--badges-shadow);
  transition: transform 0.3s ease-in;
}

.badge-box.badgeLocked {
  color: #7e7d7d;
  cursor: not-allowed;
  background: var(--badges-locked-bg);
}

.badge-box.badgeUnlocked {
  color: var(--video-title);
  background: var(--video-section);
  border: 3px solid #ddd;
}

.badge-box:hover {
  transform: translateY(-5px);
}

.badge-status-icon {
  margin: 10px 5px;
  font-size: 4.5rem;
}

.badge-completion-progress {
  text-align: center;
  margin: 20px 0 30px 0;
  background: var(--video-section);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-size: 1.2rem;
}

.completion-progress {
  margin: 20px 0 30px 0;
  font-size: 1.2rem;
}

.badge-name {
  font-weight: bold;
  color: var(--video-title);
}

.badge-box.badgeLocked .badge-name {
  color: var(--video-title);
}