
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.App {
    font-family: "Roboto", sans-serif;
    background: var(--bg-color);
    margin-top: 70px;
}

p, h2, h3, span {
  color: #333;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #50a081;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #41846a;
}

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	  --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --orange: #FF6F00;

    --primary-blue: rgb(0, 0, 255);
    --secondary-blue: rgb(96, 96, 182);

    --text-primary-light: #363949;
    --text-primary-dark: white;

    --text-secondary-light: rgb(70, 70, 70);
    --text-secondary-dark: rgb(160, 160, 160);

    --bg-primary-light: white;
    --bg-primary-dark: black;

    --bg-secondary-light: rgb(212, 212, 212);
    --bg-secondary-dark: rgb(34, 34, 34);

    --bg-navbar-light: #FF6F00;
    --bg-navbar-dark: rgb(29, 29, 58);

    --image-button: #326f53;
}

.light-theme {
    --background: linear-gradient(to bottom, #b2e8ee, #ade7bd);
    --bg-color: #e2e1e1;
    --bg-inner-color: white;
    --text: #333;
    --sidebar-text: black;
    --bot-bubble: white;
    --user-bubble: #50a081;
    --bg-navbar: #50a081;
    --favourites: #bdecdc;
    --navbar: #275b48;
    --inner-background: #e2e1e1;
    --chatbot-sidebar: #e2e1e1;
    --badges-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --badges-locked-bg: rgba(0, 0, 0, 0.1);
}

.dark-theme {
    --background: linear-gradient(to bottom, #628286, #72937a);
    --opacity: 1;
    --bg-color: rgb(12 16 22 / var(--opacity));
    --bg-inner-color: rgb(12 16 22 / var(--opacity));
    --text: rgb(255, 255, 255);
    --sidebar-text: white;
    --bot-bubble: #212121;
    --user-bubble: rgb(80, 79, 79);
    --bg-navbar: #397061;
    --favourites: #567b6d;
    --navbar: rgb(12 16 22 / var(--opacity));
    --inner-background: rgb(12 16 22 / var(--opacity));
    --chatbot-sidebar: rgb(12 16 22 / var(--opacity));
    --badges-shadow: 0px 4px 6px rgba(0, 0, 0, 0.9);
    --badges-locked-bg: rgb(243 235 235 / 10%);
}